@import 'styles/_variables';
@import 'tachyons/src/_media-queries';

.result__details-metrics {
  font-size: 16px;
  @media (--breakpoint-not-small) {
    font-size: 16px;
  }
  .metricValue {
    font-weight: 400;
    font-size: 16px;
    @media (--breakpoint-not-small) {
      font-size: 18px;
    }
  }
  .metricLabel {
    color: #7E7E7E;
    font-size: 12px;
    @media (--breakpoint-not-small) {
      font-size: 14px;
    }
  }
  .factor {
    color: #558928;
    font-weight: 500;
    font-size: 16px;
    @media (--breakpoint-not-small) {
      font-size: 18px;
    }
  }
}

.result__details-toggle {
  color: rgb(25, 103, 190);
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  border: 1px solid var(--orange);
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  left: 50%;
  margin-left: -20px;
  margin-top: -38px;
  top: 0;
  padding: 5px;
  svg {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    path {
      fill: var(--orange);
    }
  }
}
