# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
### Credentials
baqend/credentials.js
baqend/schema/jobs.Definition.json
baqend/schema/jobs.Status.json
baqend/schema/speedKit.Asset.json
baqend/schema/Means.json

# testing
/coverage

# production
/build
/build-modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
