@import "../../../../styles/_variables.css";

.wordpress-image {
  background-image: url('../../../../assets/wordpress.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 150px;
  width: 100%;
  height: 150px;
  @media (--breakpoint-medium-device) {
    height: 200px;
    background-size: auto 200px;
  }
}
