@import "~tachyons/src/_media-queries.css";

.loading-screen {
  .left {
    width: 100%;
    .spinner__wrapper {
      position:relative;
      width: 200px;
      height: 200px;
      @media (--breakpoint-not-small) {
        width: 300px;
        height: 300px;
      }
    }
  }
  .statusMessage {
    position: fixed;
    background: rgba(255,255,255,0.15);
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    line-height: 1;
    @media (--breakpoint-not-small) {
      display: none;
    }
  }
}
