.border-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.border-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.white {
  color: #ffffff;
}

.green {
  color: #8aae6c;
}

.orange {
  color: #f2a541;
}

.red {
  color: #f07368;
}

.bg-dark-green {
  /* background-color: color(#377401 tint(15%)); */
  background-color: #c8e4b0;
}

.bg-light-green {
  background-color: #f0f5eb;
}

.bg-light-orange {
  background-color: #fef1e9;
}

.bg-light-red {
  background-color: #feecec;
}
