@import "~tachyons/src/_media-queries.css";
@import "../../styles/_variables.css";

:root {
  --device-border-width: 32px;
  --device-border-width-xs: 24px;
  --device-padding: 16px;
  --device-color: #fff;
  --device-background-from: rgb(18, 1, 232);
  --device-background-to: rgb(232, 8, 242);
}

.device {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 32px 20px;
  max-width: 1200px;
  .device__wrapper-outer, .device__wrapper, .device__screen {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: stretch;
  }
  .device__background-image {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-position: center top;
    filter: blur(1px);
    max-height: 600px;
  }
  .device-left {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}

.device .device__laptop {
  display: flex;
  flex-direction: column;
  .device__wrapper-top {
    display: none;
    @media (--breakpoint-medium-device) {
      /* creates the bottom bar */
      height: 40px;
      display: inline;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      margin-left: 48px;
      margin-right: 48px;
      background: color(var(--device-color));
      border-top: 1px solid rgba(51, 53, 55, 0.25);
      border-left: 1px solid rgba(51, 53, 55, 0.25);
      border-right: 1px solid rgba(51, 53, 55, 0.25);
    }
  }
  .device__wrapper-bottom {
    display: none;
    .device-notch {
      width: 20%;
      height: 25%;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 28px;
      margin: auto;
      background-image: linear-gradient(to right, #bcbdbf, #d8d8df 10%, #d8d8df 89%, #adaabd);
    }
    @media (--breakpoint-medium-device) {
      /* creates the bottom bar */
      height: 55px;
      display: inline;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      background: color(var(--device-color));
      border: 1px solid rgba(51, 53, 55, .25);
    }
  }

  /* For larger screens */
  @media (--breakpoint-medium-device) {
    /* creates the bars on the left, right and top */
    > .device__wrapper-outer {
      position: relative;
      &:not(.embedded) {
         padding-left: var(--device-border-width-xs);
         padding-right: var(--device-border-width-xs);
         margin-left: calc(var(--device-border-width) * 1.5);
         margin-right: calc(var(--device-border-width) * 1.5);
        &:before { left: 0px; border-left: 1px solid rgba(51, 53, 55, 0.25); }
        &:after { right: 0px; border-right: 1px solid rgba(51, 53, 55, 0.25); }
        &:before, &:after {
          content: "";
          position: absolute;
          background-color: color(var(--device-color));
          top: 0px;
          bottom: 0px;
          width: var(--device-border-width-xs);
          max-height: 100%;
        }
      }
      .device__wrapper-outer {
        align-self: stretch;
      }
      /* enforces 16:9 aspect ratio */
      > .device__wrapper {
        position: relative;
        display: inherit;
        max-width: 100%;
        &:not(.embedded) {
           background-image: linear-gradient(
                   119deg,
                   color(var(--device-background-from)),
                   color(var(--device-background-to)) 102%
           );
        }
        &:before {
          content: "";
          display: block;
          position: relative;
          padding-top: 55%;
        }
        > .device__screen {
          position: relative;
          z-index: 1;
          padding: 80px 48px 40px;
          .device__wrapper-outer, .device__wrapper, .device__inner {
            display: flex;
            flex-grow: 1;
          }
        }
      }
    }
  }
  @media (--breakpoint-large-device) {
    .device__wrapper-outer {
      .device__wrapper {
        > .device__screen {
          padding: 80px 96px 40px;
        }
      }
    }
  }
  .device__background {
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
    @media (--breakpoint-medium-device) {
      background-size: cover;
      opacity: 0.08;
    }
  }
}

.device .device__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .device__background-image {
    position: fixed;
  }
  @media (--breakpoint-medium-device) {
    .device__wrapper-top {
      /* creates the bottom bar */
      width: calc(452px + var(--device-border-width-xs) + var(--device-border-width-xs));
      height: 90px;
      display: inline;
      border-top-left-radius: 72px;
      border-top-right-radius: 72px;
      margin: auto;
      background: color(var(--device-color));
      border-top: 1px solid rgba(51, 53, 55, 0.25);
      border-left: 1px solid rgba(51, 53, 55, 0.25);
      border-right: 1px solid rgba(51, 53, 55, 0.25);
    }
    .device__wrapper-outer {
      box-sizing: content-box;
      width: 452px;
      min-height: 610px;
      position: relative;
      margin: auto;
      &:not(.embedded) {
         padding-left: var(--device-border-width-xs);
         padding-right: var(--device-border-width-xs);
         &:before { left: 0px; border-left: 1px solid rgba(51, 53, 55, 0.25); }
         &:after { right: 0px; border-right: 1px solid rgba(51, 53, 55, 0.25); }
         &:before, &:after {
          content: "";
          position: absolute;
          background-image: linear-gradient(color(var(--device-color)), color(var(--device-color) a(30%)));
          top: 0;
          bottom: 0;
          width: var(--device-border-width-xs);
          max-height: 100%;
        }
      }

      .device__wrapper {
        position: relative;
        max-width: 100%;
        &:not(.embedded) {
           background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, rgba(244, 244, 244, 1)),
           linear-gradient(144deg, color(var(--device-background-from)), color(var(--device-background-to)) 101%);
        }
        .device__background-image {
          position: absolute;
        }
        > .device__screen {
          padding: 60px 0;
        }
      }
    }
  }
}

/* custom CSS3 animations */
@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes showInner {
  100% {
    max-height: 100%;
  }
}
