.btn {
  font-size: 16px;
  border-radius: 4px;
  font-weight: 400;
  padding: 8px 16px;
  letter-spacing: 0.6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  &.btn-small {
    padding: 5px 10px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-orange {
  &:not(.btn-ghost) {
    color: white;
    background: var(--orange);
    border-bottom: 3px solid var(--orange);
    // padding-bottom: 7px;
    &:hover {
      background: var(--orange-hover);
      border-bottom: 3px solid var(--orange-light);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  &.btn-ghost {
    color: var(--orange);
    background: transparent;
    border: 2px solid var(--orange);
    &:hover {
      color: white;
      background: var(--orange);
    }
  }
}

.btn-blue {
  &:not(.btn-ghost) {
    color: white;
    background: var(--blue);
    border-bottom: 3px solid var(--blue);
    // padding-bottom: 7px;
    &:hover {
      background: var(--blue-hover);
      border-bottom: 3px solid var(--blue-dark);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  &.btn-ghost {
    color: var(--blue);
    background: transparent;
    border: 2px solid var(--blue);
    &:hover {
      color: white;
      background: var(--blue);
    }
  }
}

.btn-black {
  color: rgba(0,0,0,0.7);
  background: transparent;
  border: 2px solid rgba(0,0,0,0.7);
  &:hover {
    color: rgba(0,0,0,0.8);
    background: rgba(0, 0, 0, 0.04);
  }
}

.btn-white {
  color: rgba(255,255,255,0.8);
  background: transparent;
  border: 2px solid rgba(255,255,255,0.8);
  &:hover {
    color: white;
    background: rgba(0,0,0,0.1);
  }
}

.btn {
  &.no-border {
    border-color: transparent;
  }
  &.no-shadow {
    box-shadow: none;
  }
}
