@import 'tachyons/src/_media-queries';

:root {
  --offset: 200;
  --duration: 2.5s;
}

.spinner__wrapper {
  width: 200px;
  height: 200px;
  @media (--breakpoint-not-small) {
    width: 300px;
    height: 300px;
  }
}

.spinner {
  animation: rotator var(--duration) linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: color(#fff a(75%));
  animation: dash var(--duration) ease-in-out infinite;
}

@keyframes dash {
 0% { stroke-dashoffset: var(--offset); }
 50% {
   stroke-dashoffset: calc(var(--offset) / 4);
   transform: rotate(135deg);
 }
 100% {
   stroke-dashoffset: var(--offset);
   transform: rotate(450deg);
 }
}
