@import "~tachyons/src/_colors.css";
@import "~tachyons/src/_media-queries.css";

:root {
  --spacing-none: 0;
  --spacing-extra-small: 8px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-extra-large: 48px;
  --spacing-extra-extra-large: 64px;
  --spacing-extra-extra-extra-large: 96px;

  --orange: #F27354;
  --orange-light: color(var(--orange) tint(15%));
  --orange-hover: color(var(--orange) shade(3%));
  --orange-dark: color(var(--orange) shade(15%));
  --blue: #297dd1;
  --blue-hover: color(var(--blue) shade(3%));
  --blue-dark: color(var(--blue) shade(15%));

  --fa-var-angle-left: "\f104";
  --fa-var-angle-right: "\f105";
  --fa-var-angle-up: "\f106";
  --fa-var-angle-down: "\f107";

  --slick-font-path: "../fonts/";
  --slick-font-family: "FontAwesome";
  --slick-loader-path: "./";
  --slick-arrow-color: black;
  --slick-dot-color: black;
  --slick-dot-color-active: var(--slick-dot-color);
  --slick-prev-character: var(--fa-var-angle-left);
  --slick-next-character: var(--fa-var-angle-right);
  --slick-dot-character: "•";
  --slick-dot-size: 12px;
  --slick-opacity-default: 0.10;
  --slick-opacity-on-hover: 1;
  --slick-opacity-not-active: 0.25;

  --mainFactorSize: 108px;
  --mainFactorSizeSmall: 64px;

  @custom-media --breakpoint-small-device (min-width: 576px);
  @custom-media --breakpoint-medium-device (min-width: 768px);
  @custom-media --breakpoint-large-device (min-width: 992px);
  @custom-media --breakpoint-extra-large-device (min-width: 1200px);
}
