@import "~tachyons/src/_colors.css";
@import "~tachyons/src/_media-queries.css";

:root {
  --spacing-none: 0;
  --spacing-extra-small: 8px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-extra-large: 48px;
  --spacing-extra-extra-large: 64px;
  --spacing-extra-extra-extra-large: 96px;

  --orange: #F27354;
  --orange-light: color(var(--orange) tint(15%));
  --orange-hover: color(var(--orange) shade(3%));
  --orange-dark: color(var(--orange) shade(15%));
  --blue: #297dd1;
  --blue-hover: color(var(--blue) shade(3%));
  --blue-dark: color(var(--blue) shade(15%));
}
