:root {
  --dark-blue: #162939;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--dark-blue);
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

#root, #main {
  display: flex;
  flex-grow: 1;
}

#main {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
