/* nav {
  position: absolute;
  left: 0;
  top: 0;
} */

nav {
  .navbar-inner {
    height: 70px;
  }
}

.navbar-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: transform 420ms cubic-bezier(.165,.84,.44,1), opacity .1s ease-in;
  transform: translate3d(0,0,0);
  &.hidden {
    transform: translate3d(0,-70px,0);
  }
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0;
  background: rgba(255,255,255,0.98);
  transition: transform 420ms cubic-bezier(.165,.84,.44,1), opacity .1s ease-in;
  transform: translate3d(0,-70px,0);
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  &.visible {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
