.slier-item {
  padding: 8px 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  height: 70px;
  margin: 0 8px;
  color: #000000;
  text-align: center;
}

.slider-img {
  max-width: 100%;
  max-height: 65%;
  margin-left: auto;
  margin-right: auto;
  opacity: .6;
}

.factorLabel {
  color: #888888;
}
