:root {
  --item-height: 96px;
  --item-width: 400px;
  --item-margin: 8px;
}

.treadmill {
  position: relative;
  height: calc(var(--item-height) + var(--item-margin) * 2);
  will-change: transform;
  .first, .second {
    display: inline-flex;
    position: absolute;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
    .treadmill-item {
      width: var(--item-width);
      padding: 24px;
      /* border-radius: 5px; */
      background: #f6f6f6;
      height: var(--item-height);
      margin: 8px 8px;
      color: #000000;
      text-align: center;
      .treadmill-img {
        max-width: 100%;
        max-height: 65%;
        margin-left: auto;
        margin-right: auto;
        /* opacity: .6; */
        display: block;
      }
    }
  }
  .first {
    animation-name: first;
  }
  .second {
    animation-name: second;
  }
  &:hover {
    .first, .second {
      animation-play-state: paused;
    }
  }
}

@keyframes first {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  50.001% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes second {
  0% {
    -webkit-transform: translate3d(2845px, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-2845px, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* .slier-item {
  padding: 8px 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  height: 70px;
  margin: 0 8px;
  color: #000000;
  text-align: center;
}

.slider-img {
  max-width: 100%;
  max-height: 65%;
  margin-left: auto;
  margin-right: auto;
  opacity: .6;
}

.factorLabel {
  color: #888888;
} */
