@import "~tachyons/src/_media-queries.css";

:root {
  --item-height: 96px;
  --item-width: 400px;
  --item-margin: 8px;
}

.treadmill {
  position: relative;
  height: calc(var(--item-height) + var(--item-margin) * 2);
  will-change: transform;
  .first, .second {
    display: inline-flex;
    position: absolute;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
    .treadmill-item > * {
      padding: 24px;
      /* border-radius: 5px; */
      background: #f8f8f8;
      height: var(--item-height);
      margin: 8px 8px;
      color: #000000;
      text-align: center;
      width: calc(var(--item-width) / 2);
      @media (--breakpoint-not-small) {
        width: var(--item-width);
      }
      .treadmill-img {
        max-width: 100%;
        max-height: 65%;
        margin-left: auto;
        margin-right: auto;
        /* opacity: .6; */
        display: block;
      }
    }
  }
  .first {
    animation-name: first;
  }
  .second {
    animation-name: second;
  }
  &:hover {
    .first, .second {
      animation-play-state: paused;
    }
  }
}

@keyframes first {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  50.001% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes second {
  0% {
    -webkit-transform: translate3d(2845px, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-2845px, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
