.device {
  width: 100%;
  max-width: 1170px;
  max-height: 664px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__laptop {
    background: url('../../assets/laptop.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 142px;
    padding-top: 42px;
    padding-right: 142px;
    padding-bottom: 70px;
  }
}


.loading {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  &__spinner {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__status {
    flex-basis: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 0.5s 1 ease;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    .text__headline {
      margin-top: 0;
    }
    .text__details {
    }
  }
}

@keyframes show {
  0% {
    flex-basis: 0;
  }
  100% {
    flex-basis: 50%;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes textSlideUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes blink {
  50% {
    color: transparent
  }
}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
