:root {
  --device-border-width: 32px;
  --device-border-width-xs: 24px;
  --device-padding: 16px;
  --device-color: #fff;
}

.device {
  width: 100%;
  max-width: 998px;
  /* min-height: 100vh; */
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .device__wrapper-outer, .device__wrapper, .device__screen {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: stretch;
  }
}

.device__laptop {
  display: flex;
  flex-direction: column;
  /* For small screens */
  @media (min-width: 767px) and (max-width: 997px) {
    > .device__wrapper-outer {
      /* > .device__wrapper {
        > .device__screen { */
      min-height: 450px;
      position: relative;
      border-top: calc(var(--device-border-width-xs) + 8px) solid color(var(--device-color) a(40%));
      border-top-left-radius: var(--device-border-width-xs);
      border-top-right-radius: var(--device-border-width-xs);
      padding-top: var(--device-padding);
      padding-left: calc(var(--device-border-width-xs) + var(--device-padding));
      padding-right: calc(var(--device-border-width-xs) + var(--device-padding));
      margin-left: calc(var(--device-border-width) * 1.5);
      margin-right: calc(var(--device-border-width) * 1.5);
      &:before { left: 0px; }
      &:after { right: 0px; }
      &:before, &:after {
        content: "";
        position: absolute;
        background-image: linear-gradient(color(var(--device-color) a(40%)), color(var(--device-color) a(0%)));
        top: 0px;
        bottom: -var(--device-border-width-xs);
        width: var(--device-border-width-xs);
        max-height: 400px;
      }
    /* }
      } */
    }
  }
  /* For larger screens */
  @media (min-width: 998px) {
    /* creates the bottom bar */
    &:after {
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 64px;
      display: block;
      /* background: white; */
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      background-image: linear-gradient(color(var(--device-color) a(20%)), color(var(--device-color) a(10%)));
    }
    /* creates the bars on the left, right and top */
    > .device__wrapper-outer {
      position: relative;
      border-top: calc(var(--device-border-width) + 8px) solid color(var(--device-color) a(40%));
      border-top-left-radius: var(--device-border-width);
      border-top-right-radius: var(--device-border-width);
      padding-left: var(--device-border-width);
      padding-right: var(--device-border-width);
      margin-left: calc(var(--device-border-width) * 1.5);
      margin-right: calc(var(--device-border-width) * 1.5);
      &:before { left: 0px; }
      &:after { right: 0px; }
      &:before, &:after {
        content: "";
        position: absolute;
        background-image: linear-gradient(color(var(--device-color) a(40%)), color(var(--device-color) a(20%)));
        top: 0px;
        bottom: -var(--device-border-width);
        width: var(--device-border-width);
        max-height: 100%;
      }
      .device__wrapper-outer {
        align-self: stretch;
      }
      /* enforces 16:9 aspect ratio */
      > .device__wrapper {
        position: relative;
        display: block;
        &:before {
          content: "";
          display: block;
          position: relative;
          padding-top: 56.25%;
        }
        > .device__screen {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: var(--device-padding);
          .device__wrapper-outer, .device__wrapper, .device__inner {
            display: flex;
            flex-grow: 1;
          }
        }
      }
    }
  }
}

.device__phone {
  display: flex;
  /* height: 666px; */
  justify-content: center;
  @media (min-width: 481px) {
    .device__wrapper-outer .device__wrapper .device__screen {
      .device__wrapper-outer {
        box-sizing: content-box;
        max-width: 375px;
        min-height: 500px;
        position: relative;
        border-top: calc(var(--device-border-width-xs) * 4) solid color(var(--device-color) a(40%));
        border-top-left-radius: calc(var(--device-border-width-xs) * 3);
        border-top-right-radius: calc(var(--device-border-width-xs) * 3);
        /* padding-top: var(--device-padding); */
        padding-left: var(--device-border-width-xs);
        padding-right: var(--device-border-width-xs);
        &:before { left: 0px; }
        &:after { right: 0px; }
        &:before, &:after {
          content: "";
          position: absolute;
          background-image: linear-gradient(color(var(--device-color) a(40%)), color(var(--device-color) a(0%)));
          top: 0px;
          bottom: -var(--device-border-width-xs);
          width: var(--device-border-width-xs);
          max-height: 100%;
        }
        .device__screen {
          padding: var(--device-padding);
        }
      }
    }
  }
}


.left {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  .right {
    margin-top: 32px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (min-width: 998px) {
      margin-top: 0px;
      width: 0%;
      /* max-height: 0px; */
      animation: show 0.5s 1 ease;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      text-align: left;
      > * {
        max-height: 0;
        animation: showInner 0.1ms 1 linear 2.5s forwards;
      }
    }
  }
}

/* custom CSS3 animations */
@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes showInner {
  100% {
    max-height: 100%;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes textSlideUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes blink {
  50% {
    color: transparent
  }
}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
