### Node.js dependencies
/node_modules/

### TypeScript output
/out/

### Test output
/build/
credentials.js

### Schema
schema/jobs.Definition.json
schema/jobs.Status.json
schema/speedKit.*.json
schema/Means.json
schema/Tasks.json
