.text-enter {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  > * {
    transform: translate3d(0, 100%, 0);
  }
}

.text-enter.text-enter-active {
  opacity: 1;
  animation: addElement 0ms 1 linear 0s forwards;
  > * {
    animation: textSlideUp 3s 1 ease 0s forwards
  }
}

.text-exit {
  opacity: 1
}

.text-exit.text-exit-active {
  animation: textFadeOut 3s 1 ease forwards;
}

@keyframes addElement {
  0% {
    max-height: 999px;
  }
  100% {
    max-height: 999px;
  }
}

@keyframes textSlideUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes textFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
