.text-enter {
  position: absolute;
  left: -999em;
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
}

.text-enter.text-enter-active {
  opacity: 1;
  animation: addElement 0s 1 ease 0s forwards, textSlideUp 3s 1 ease 0s forwards;
  /* animation-fill-mode: forwards, forwards; */
}

.text-exit {
  opacity: 1
}

.text-exit.text-exit-active {
  animation: textFadeOut 3s 1 ease forwards;
  /* animation-fill-mode: forwards; */
}

@keyframes addElement {
  0%, 100% {
    position: initial;
    left: initial;
  }
}

@keyframes textSlideUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes textFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
