@import "../../../../styles/_variables.css";

.loading-screen {
  .device__laptop {
    .carousel__wrapper {
      width: 95%;
      margin: 40px 0 32px 0;
      @media (--breakpoint-medium-device) {
        width: 70%;
      }
    }
    .progress__wrapper {
      width: 180px;
      @media (--breakpoint-small-device) {
        width: 210px;
      }
    }
  }
}
