@import 'tachyons/src/_media-queries';
.loading-screen {
  .spinner__wrapper {
    position:relative;
    width: 200px;
    height: 200px;
    @media (--breakpoint-not-small) {
      width: 300px;
      height: 300px;
    }
  }
}
