.results__wrapper {
  width: 100%;
}

.results {
  width: 100%;
  background: #f6f6f6;
  &__box {
    border-radius: 2px;
    color: #444444;
    background: #ffffff;
  }
}

.toggleSettings {
  color: color(var(--white) a(50%));
  font-size: 12px;
  a {
    color: color(var(--white) a(75%));
    text-decoration: underline;
    cursor: pointer;
  }
}

.slier-item {
  display: -ms-flexbox;
  display: flex;
  padding: 16px 16px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  height: 70px;
  margin: 0 8px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
