@import "../../../styles/_variables";

.config__form {
  &-input {
    background: color(var(--white) a(30%));
    color: var(--white);
    border: none;
    border-radius: 3px;
    &::placeholder {
      color: var(--white);
      font-weight: 300;
    }
  }
}
