@import "../../styles/_variables";

.config__form {
  font-size: 14px;
  &-input-wrapper {
    position: relative;
    .parsed-domain {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      font-family: "Open Sans";
      line-height: 34px;
      pointer-events: none;
    }
  }
  &-input {
    font-size: 18px;
    background: color(var(--white) a(20%));
    color: var(--white);
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-family: "Open Sans";
    line-height: 34px;
    color: transparent;
    caret-color: white;
    &::placeholder {
      color: color(var(--white) a(75%));
    }
  }
  &-submit-wrapper {
    position: absolute;
    top: 11px;
    right: 11px;
  }
  &-submit {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: none;
    background: color(var(--white) a(30%));
  }
  .advanced {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    h5 {
      font-size: 16px;
    }
    .CodeMirror {
      height: auto;
      background: color(var(--white) a(10%));
      color: var(--white);
      border: 1px solid color(var(--white) a(30%));
      color: white;
      border-radius: 3px;
      outline: none;
    }
  }
  .toggleAdvancedSettings {
    text-align: center;
    color: color(var(--white) a(50%));
    font-size: 12px;
    a {
      color: color(var(--white) a(75%));
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


.checkbox-custom {
  background-color: transparent;
  display: inline-block;
}

/* hide default input */
.checkbox-custom input {
  display: none;
}

.checkbox-custom label:empty {
  padding-left: 10px;
}

/* checkbox container */
.checkbox-custom label {
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding-top: 2px;
}
/* checkbox border */
.checkbox-custom label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #6a747b;
  border-radius: 2px;
}

/* checked state icon */
.checkbox-custom input[type=checkbox]:checked + label:after {
  position: absolute;
  content: " ";
  font-size: 18px;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  transform: rotate(35deg);
  color: black;
  border-right: 4px solid #fafafa;
  border-bottom: 4px solid #fafafa;
}
